body {
  background-color: #FFF4E9;
  color: #B185A7;
}


.body {
  background-color:  #FFF4E9;
  color: #B185A7;
  border-top: 16px double #C3A29E;
  }
  
.heading {
  background-color: #E8DBC5;
}


h1 {
  color: #8D6B94;
  border: ridge 4mm #8D6B94;
  font: italic 2.4em "Times New Roman", serif;
}


p {
  color: rgb(76, 0, 148);
}


h2 {
  color: 8D6B94
}

li {
  color: #8D6B94;
}

ul {
  color: #8D6B94;
}

a {
  color: #B185A7; 
  text-decoration: none;
}
